.container {
  width: 600px;
  margin: 100px auto;
  background-color: #f8f9fa;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 48px;
  padding: 32px 96px;
  border-radius: 10px;
}

.step-numbers {
  display: flex;
  justify-content: space-between;
  grid-column: 1/-1;
}

.step-number {
  background-color: #0c8599;
  width: 42px;
  height: 42px;
  padding: 12px;
  color: #fff;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-content {
  display: flex;
  justify-content: center;
  grid-column: 1/-1;
  font-size: 18px;
  font-weight: 700;
}

.step-actions {
  display: flex;
  justify-content: space-between;
  grid-column: 1/-1;
}

.btn {
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #0c8599;
  padding: 8px 16px;
  border-radius: 16px;
  cursor: pointer;
}
