.steps {
  width: 600px;
  margin: 100px auto;
  background-color: #f8f9fa;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 48px;
  padding: 32px 96px;
  border-radius: 10px;
  position: relative;

}

.step-numbers {
  display: flex;
  justify-content: space-between;
  grid-column: 1/-1;
}

.step-number {
  background-color: #fff;
  width: 42px;
  height: 42px;
  padding: 12px;
  color: #000;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-completed {
  background-color: #0c8599;
  color: #fff;
}

.step-content {
  display: flex;
  justify-content: center;
  grid-column: 1/-1;
  font-size: 18px;
  font-weight: 700;
}

.step-actions {
  display: flex;
  justify-content: space-between;
  grid-column: 1/-1;
}

.btn {
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #0c8599;
  padding: 8px 16px;
  border-radius: 16px;
  cursor: pointer;
}

.btn:disabled, .btn[disabled] {
  background-color: #e9ecef;
  font-weight: bold;
  color: #9d9d9d;
  cursor: not-allowed;
}

.close-btn {
  font-weight: 700;
  font-size: 24px;
  width: 40px;
  aspect-ratio: 1;
  color: #000;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  right: 0;
  top: 0;
}

.close-btn:hover {
  background-color: #e9ecef;
  border-radius: 50%;
}

